<script context="module">
	export function load({ error, status }) {
		return {
			props: {
				message: `${status}: ${error.message}`,
				status
			}
		};
	}
</script>

<script>
	export let message;
	export let status;
</script>

<svelte:head>
	<title>{status === 404 ? "This page doesn't exist" : 'Error'} | Pasadena Chronicle</title>
</svelte:head>

<h1 class="text-4xl bold">
	:/ Something went wrong {status === 404 ? ", I can't find that page" : ''}
</h1>
<h2 class="text-sm mb-4">I blame it on the geese</h2>

<p>
	<a sveltekit:prefetch href="/" class="text-blue-800 underline text-xl"
		>Click here to go back to the home page.</a
	><br /><br />If you like errors, here's one:<br />
</p>

<pre class="mb-6">
    {message}
</pre>

<img
	src="https://http.cat/{status}"
	alt="A cat doing something vaugely related the status code {status}"
/>
