<!-- 
<script context="module">
  import { meta } from '$lib/variables';

	export async function load({ page, fetch }) {
		try {
			const articles = await (
				await fetch(`${meta}/topic/${page.params.topic}.json`)
			).json();

      articles.forEach(article => {
        article.date = new Date(article.date);
      });

			return {
				props: { articles, topic: page.params.topic }
			};
		} catch (error) {
			// No articles for that topic
			return {
				props: { articles: [], topic: page.params.topic }
			};
		}
	}
</script>

<script>
  import ArticleCard from '$lib/components/ArticleCard.svelte';
  export let topic;
	export let articles;

  function capitalize(string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
</script>

<svelte:head>
	<title>{capitalize(topic)} | Pasadena Chronicle</title>
	<meta property="og:title" content="{capitalize(topic)}} | Pasadena Chronicle" />
</svelte:head>

<h4 class="-mb-4 text-xl italic">Topic</h4>
<h1>{capitalize(topic)}</h1>
<div class="flex flex-col gap-8 md:gap-4 mb-4">
	{#each articles as article}
		<ArticleCard {...article} />
	{/each}
</div>


<style lang="scss">
  
</style>
-->