<script context="module">
	import { meta } from '$lib/variables';

	export async function load({ page, fetch }) {
		try {
			const articles = await (await fetch(`${meta}/articles.json`)).json();

			articles.forEach((article) => {
				article.date = new Date(article.date);
			});

			return {
				props: { articles }
			};
		} catch (error) {
			throw error;
		}
	}
</script>

<script>
	import ArticleCard from '$lib/components/ArticleCard.svelte';
	import FeaturedBox from '$lib/components/FeaturedBox.svelte';

	export let articles = [];
</script>

<svelte:head>
	<title>The Pasadena Chronicle: Student run news, stories, comics & games</title>
</svelte:head>

<div class="flex flex-col gap-8 md:gap-4 mb-4">
	<!-- Feature boxes 	<div class="grid gap-2 grid-flow-col">
		<FeaturedBox message="Read last month's issue" />
		<FeaturedBox message="Solve a crossword or sudoku puzzle" />
		<FeaturedBox message="View the comics" />
	</div> -->
	{#each articles as article}
		<ArticleCard {...article} />
	{/each}
</div>
