<script context="module">
	import { meta } from '$lib/variables';

	export async function load({ page, fetch }) {
		try {
			const staff = await (await fetch(`${meta}/staff.json`)).json();

			return {
				props: { staff }
			};
		} catch (error) {
			throw error;

			return {
				status: 404
			};
		}
	}
</script>

<script>
	export let staff;

	const years = staff
		.map(({ years }) => years)
		.reduce((total, years) => {
			for (let year of years) {
				if (!total.includes(year)) total.push(year);
			}
			return total;
		}, []);
</script>

<svelte:head>
	<title>Our staff | Pasadena Chronicle</title>
</svelte:head>

<h1>Our staff</h1>
<p class="mb-4">This list only includes writers with articles published to this website.</p>

<div class="flex flex-col gap-2">
	{#each years as year}
		<h2>{year}</h2>

		<div class="flex gap-5 mb-4 flex-wrap">
			{#each staff as staff}
				{#if staff.years.includes(year)}
					<div>
						<a sveltekit:prefetch href={staff.url} class="underline">{staff.name}</a>
					</div>
				{/if}
			{/each}
		</div>
	{/each}
</div>

<style lang="scss">
</style>
