<script>
	import { fade } from 'svelte/transition';
	import { onMount } from 'svelte';

	let date = '';

	onMount(async () => {
		date = new Date().toLocaleDateString('en', {
			weekday: 'long',
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		});
	});
</script>

{#if date}
	<span transition:fade>
		{date}
	</span>
{/if}
