<script>
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';

	let temperature;

	let message;

	onMount(async () => {
		// Weather API

		// Request weather from the 'astro' product, at the location lon=-118.1 lat=34.2, in british (imperial) units, formatted in JSON
		const response = await fetch(
			'https://www.7timer.info/bin/astro.php?lon=-118.1&lat=34.2&ac=0&unit=british&output=json'
		);

		// Parse the response to JSON
		const data = await response.json();

		// Convert the `init` string to a Date object, to use as reference for when the forcast was made
		const initDate = new Date(
			// Slice up the `init` string into the YYYY-MM-DDT00:00 format
			`${data.init.slice(0, 4)}-${data.init.slice(4, 6)}-${data.init.slice(6, 8)}T${data.init.slice(
				8,
				10
			)}:00`
		);

		// Move the 'data series' into their own array
		const dataPoints = data.dataseries;

		// Add a `time` property to each dataPoint object that is a timestamp, in the form of a number, that indicates what the time the point's forcast relates to
		dataPoints.forEach((point) => {
			// Clone the initDate to a new variable
			const pointDate = new Date(initDate.getTime());
			// Add the `timepoint` (hour offset) to the initial time
			pointDate.setHours(pointDate.getHours() + point.timepoint);
			// Add the time as a number to the point
			point.time = pointDate.getTime();
		});

		// Set the goal to the time right now, and save it in the form of a number
		const goal = new Date().getTime();

		// Compare each data point's time to the goal, and loop through them until you have the closest value to the the goal
		const closestTime = dataPoints
			.map((it) => it.time)
			.reduce((prev, curr) => {
				return Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev;
			});

		// Get the closest (time to right now) point by finding the index of the point that has the `closestTime`
		const closestPoint = dataPoints[dataPoints.map((it) => it.time).indexOf(closestTime)];

		temperature = closestPoint.temp2m;

		// Time of day message
		const currentHour = new Date().getHours();

		if (currentHour < 9) {
			message = 'morning';
		} else if (currentHour < 12) {
			message = 'day';
		} else if (currentHour < 17) {
			message = 'afternoon';
		} else if (currentHour < 19) {
			message = 'evening';
		} else {
			message = 'night';
		}
	});
</script>

{#if temperature}
	<span transition:fade>
		{temperature}° this {message}, Pasadena
	</span>
{/if}
