<script context="module">
  import { meta } from '$lib/variables';

	export async function load({ page, fetch }) {
		try {
			const person = await (
				await fetch(`${meta}/staff/${page.params.name}.json`)
			).json();

			person.date = new Date(person.date);

      person.articles.forEach(article => {
        article.date = new Date(article.date);
      });

			return {
				props: { person }
			};
		} catch (error) {
			throw error;
		}
	}
</script>

<script>
  import ArticleCard from '$lib/components/ArticleCard.svelte';
	export let person;
</script>

<svelte:head>
	<title>{person.name} | Pasadena Chronicle</title>
	<meta property="og:title" content="{person.name}} | Pasadena Chronicle" />
</svelte:head>

<h1>{person.name}</h1>
<div class="flex flex-col gap-8 md:gap-4 mb-4">
	{#each person.articles as article}
		<ArticleCard {...article} />
	{/each}
</div>


<style lang="scss">
  
</style>
