@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl md:text-5xl font-bold my-4;
}

h2 {
  @apply text-2xl md:text-3xl;
}

@layer utilities {
  @variants dark {
    .emoji-cover-white {
      text-shadow: 0 0 hsla(0,0%,100%,0.8);
    }
    .emoji-cover-gray {
      text-shadow: 0 0 hsla(0,0%,70%,1);
    }
  }
}