<script>
  export let message = ''
</script>

<div class="flex">
	<div class="flex flex-1 flex-col justify-center items-center">{message}</div>
	<div class="w-2 box-divider border-r-gray-500 border-solid border-r-2 x-m-2" />
</div>

<style lang="postcss">
	div:last-child > .box-divider {
		@apply hidden;
	}
</style>
