<footer class="text-center text-gray-800 dark:text-gray-400 mt-auto hidden md:block pt-4 relative">
	<a href="https://gitlab.com/pasadena-chronicle/website">
		<span>
			Interested in programming? Explore the <u>source code</u> of this website
		</span>
		<svg
			class="blur-xl absolute top-5"
			xmlns="http://www.w3.org/2000/svg"
			xml:space="preserve"
			fill-rule="evenodd"
			stroke-linejoin="round"
			stroke-miterlimit="2"
			clip-rule="evenodd"
			viewBox="0 0 88 12"
		>
			<path
				fill="url(#a_footer)"
				d="M12 100s-8.42-8.23-5-15 9.99-9.99 16-11c6.01-1.01 23-1 27-1s20.99-.01 27 1c6.01 1.01 12.58 4.23 16 11s-5 15-5 15"
				transform="matrix(1 0 0 .44444 -6.18 -32.44)"
			/>
			<defs>
				<linearGradient
					id="a_footer"
					x1="0"
					x2="1"
					y1="0"
					y2="0"
					gradientTransform="matrix(64 0 0 64 17.82 89)"
					gradientUnits="userSpaceOnUse"
				>
					<stop offset="0" stop-color="#d75272" stop-opacity=".35" />
					<stop offset=".08" stop-color="#d65f75" stop-opacity=".35" />
					<stop offset=".12" stop-color="#d57b7c" stop-opacity=".35" />
					<stop offset=".15" stop-color="#d49583" stop-opacity=".35" />
					<stop offset=".32" stop-color="#dda05b" stop-opacity=".35" />
					<stop offset=".5" stop-color="#48a3d1" stop-opacity=".35" />
					<stop offset=".65" stop-color="#764fae" stop-opacity=".35" />
					<stop offset=".8" stop-color="#c73d6e" stop-opacity=".35" />
					<stop offset=".91" stop-color="#d25469" stop-opacity=".35" />
					<stop offset="1" stop-color="#ff8882" stop-opacity=".35" />
				</linearGradient>
			</defs>
		</svg>
	</a>
</footer>
