<script>
	import CurrentDate from '$lib/components/Header/CurrentDate.svelte';
	import Weather from '$lib/components/Header/Weather.svelte';
	import Masthead from '$lib/components/Masthead.svelte';
</script>

<header
	class="flex flex-col w-full border-gray-300 border-b-2 gap-4 mt-4 text-xs sm:text-base"
>
	<div class="hidden sm:flex justify-between h-6">
		<CurrentDate />
		<Weather />
	</div>
	<a href="/" sveltekit:prefetch class="mb-4">
		<Masthead />
	</a>
</header>