<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5" clip-rule="evenodd" viewBox="0 0 882 134">
  <title>Pasadena Chronicle Masthead</title>
  <g transform="matrix(.72295 0 0 .22076 -824.16 0)">
    <path fill="none" d="M1140 0h1220v607H1140z"/>
    <clipPath id="a">
      <path d="M1140 0h1220v607H1140z"/>
    </clipPath>
    <g clip-path="url(#a)">
      <path fill="currentColor" d="M1790.3 214.07s-4.73-15.46-5.72-19.29c-1-3.82-3.45-14.72-3.45-14.72s-2.64 4.33-4.69 6.78c-2.04 2.46-5.7 3.42-5.7 3.42s-1.71 45.91-2.24 64.61c-.52 18.7-1.38 43.64-1.03 54.4.16 5.15 7.26 13.6 7.26 13.6s.87 23.74 2.08 44.2c1.2 20.46 3.11 44.2 3.11 44.2l-3.11 6.8v-17s-1.25-3.71-3.11-3.4c-1.87.31-4.16 6.8-4.16 6.8s-.04 22.75 1.04 37.4c1.08 14.65 2.08 13.38 2.08 13.38s6.75-11.36 9.34-17c2.6-5.64 8.11-18.33 8.11-18.33s-1.97-17.83-2.92-35.85c-.94-18.02-3.11-37.82-3.11-64.6 0-26.78-1.04-34-1.04-34s-1.01-6.82-3.12-6.8c-2.1.02-4.15 0-4.15 0s.16-16.06.5-29.53a894.96 894.96 0 0 1 1.4-29.44l2.76-2.26.53 23.83c2.03 2.54 4.1 2.52 6.23 0 0 0 1.75-12.62 2.08-17l1.04-10.2ZM1709.88 210.64s4.92-10.44 9.69-18.12c4.76-7.68 9.68-6.8 9.68-6.8s2.69 87.36 2.77 104.19c.07 16.83-.9 26.16-.9 26.16s-1.88 3.04-4.14 3.4c-2.27.36-5.2 0-5.2 0s-.77 17.3-1.03 37.4c-.27 20.1-.98 80.28-.98 80.28-4.67-7.31-8.47-16.39-11.42-27.2 0 0 7.83-22.53 7.2-93.88-.38-44.18-5.67-105.43-5.67-105.43Zm11.76 74.74 4.84-2.26-2.62-62.25-4.98 7.89 2.76 56.62Z"/>
      <path fill="currentColor" d="M1755 319.47h-10.37s-.81 56.29-1.04 78.2c-.24 21.9-1.04 74.8-1.04 74.8-4.9-2.78-9.07-7.28-12.46-13.6 0 0 1.91-13.98 3.11-37.4 1.2-23.42 2.97-82.3 3.12-108.8.15-26.5-3.12-129.2-3.12-129.2s2.64-1.15 6.23-1.97c3.6-.82 6.23-4.83 6.23-4.83l-1.03 95.2H1755l-1.04-95.2s2.64 4.01 6.23 4.83c3.59.82 6.23 1.97 6.23 1.97s-3.27 102.7-3.12 129.2c.16 26.5 1.92 85.38 3.12 108.8 1.2 23.42 2.85 37.4 2.85 37.4-3.8 6.57-7.97 10.96-12.46 13.6l-.77-74.8c-.24-21.91-1.04-78.2-1.04-78.2Z"/>
      <path fill="none" stroke="currentColor" d="M126.74 55.8s-2.66-1.2-5.74.7-3.99 2.98-5 4.5a9.91 9.91 0 0 0-1.5 4c-.05.67 1.56 4.07 2.5 5.5.94 1.43.88 1.45 1.5 2.18.62.73-.79 2.15-1.5 2.82-.71.67-13.7 13.12-34 17.5-20.3 4.38-37.12 7.19-49 7-11.88-.19-13.54-1.43-15-1.64-1.46-.21-1.76-.42.5-1.36 2.26-.94 3.9-2.9.5-3.5-3.4-.6-10.99-.06-13.5.5s-6.23 1.11-10 2.52c-3.77 1.4-17.3 4.83-22.5 4-5.2-.83-13.9-3.11-16.5-4.5-2.6-1.4-6.36-2.44-9-1.5-2.64.94-5 3-5 3s4.5-2.16 15.5 5.5 18.2 8.17 24.5 8.5c6.3.32 11.33-.95 13.5-2s8.8-3.02 12-3a9.5 9.5 0 0 1 6.5 2.5c1.07 1.04 9.38 4.91 26.5 4 17.12-.91 37.82-2.2 51.5-7.5s25.86-13.89 28-17c2.14-3.11 2.06-3.38 2-5-.06-1.62-1.5-6.84 1.5-9.5s5-3 5-3" transform="matrix(2.07642 0 0 6.79999 1438.35 -166.73)"/>
      <path fill="none" stroke="currentColor" d="M357 237.69s.32-5.38.5-6.69c.31-2.28 2.1-3.22 2.96-3.73M461 202.16s2.47 2.14 2.5 3.34c.03 1.2-.1 2.4.5 4s2.27 4.4 1.8 5.5M458.5 205.9s-1.46-1.97-1.5-2.9c-.04-.93-.33-7 0-8.52" transform="matrix(2.07642 0 0 6.79999 727.18 -1047.2)"/>
      <path fill="none" stroke="currentColor" d="M126.74 55.8s-2.66-1.2-5.74.7-3.99 2.98-5 4.5a9.91 9.91 0 0 0-1.5 4c-.05.67 1.56 4.07 2.5 5.5.94 1.43.88 1.45 1.5 2.18.62.73-.79 2.15-1.5 2.82-.71.67-13.7 13.12-34 17.5-20.3 4.38-37.12 7.19-49 7-11.88-.19-13.54-1.43-15-1.64-1.46-.21-1.76-.42.5-1.36 2.26-.94 3.9-2.9.5-3.5-3.4-.6-10.99-.06-13.5.5s-6.23 1.11-10 2.52c-3.77 1.4-17.3 4.83-22.5 4-5.2-.83-13.9-3.11-16.5-4.5-2.6-1.4-6.36-2.44-9-1.5-2.64.94-5 3-5 3s4.5-2.16 15.5 5.5 18.2 8.17 24.5 8.5c6.3.32 11.33-.95 13.5-2s8.8-3.02 12-3a9.5 9.5 0 0 1 6.5 2.5c1.07 1.04 9.38 4.91 26.5 4 17.12-.91 37.82-2.2 51.5-7.5s25.86-13.89 28-17c2.14-3.11 2.06-3.38 2-5-.06-1.62-1.5-6.84 1.5-9.5s5-3 5-3" transform="matrix(-2.07642 0 0 6.79999 2061.28 -166.73)"/>
      <path fill="none" stroke="currentColor" d="M357 237.69s.32-5.38.5-6.69c.31-2.28 2.1-3.22 2.96-3.73M461 202.16s2.47 2.14 2.5 3.34c.03 1.2-.1 2.4.5 4s2.27 4.4 1.8 5.5M458.5 205.9s-1.46-1.97-1.5-2.9c-.04-.93-.33-7 0-8.52" transform="matrix(-2.07642 0 0 6.79999 2772.46 -1047.2)"/>
      <g>
        <path fill="none" stroke="currentColor" stroke-width=".47" d="M147.5 91a6.1 6.1 0 0 0 2.5-.5 18.8 18.8 0 0 0 3-1.5c2-1.22 3-2.5 3-2.5s-.47-.5-1-1.5-.5-2.72-.5-5 1.5-4.5 1.5-4.5-.26.14-1.5-.5-1.5-2-1.5-2-.03 1-2 1-3.5-1-3.5-1-1.53 1-3.5 1-2-1-2-1-.26 1.36-1.5 2c-1.24.64-1.5.5-1.5.5s1.5 2.22 1.5 4.5.03 4-.5 5-1 1.5-1 1.5 1 1.28 3 2.5a18.8 18.8 0 0 0 3 1.5 6.1 6.1 0 0 0 2.5.5Z" transform="matrix(5.92474 0 0 19.4027 876.1 -1264.12)"/>
      </g>
      <g>
        <path fill="currentColor" fill-rule="nonzero" d="m1555.51 552.74 10.72-2.99.66 25.36 3.18-.89-1.56-59.76-3.18.89.66 25.44-10.71 2.99-.66-25.44-3.16.88 1.56 59.76 3.15-.88-.66-25.36ZM1579.71 510.16l3.12-1.33 2.36 59.48-3.12 1.32zM1597.35 503.32a43.25 43.25 0 0 0-2.14 6.75c-.6 2.4-1.08 5-1.4 7.73a94.22 94.22 0 0 0-.5 16.32c.29 4.45.82 8.38 1.61 11.7a35.89 35.89 0 0 0 2.83 8.2c1.12 2.14 2.3 3.63 3.63 4.33 1.3.8 2.6.73 3.86-.1a8.73 8.73 0 0 0 2.48-2.6c.79-1.12 1.5-2.47 2.18-4.14a40.02 40.02 0 0 0 1.72-5.33 46.74 46.74 0 0 0 1.22-7.54l-.05-1.36-.92-14.86-10.01 6.42.53 8.66 6.87-4.54.34 5.55a31.6 31.6 0 0 1-1.9 7.2 8.42 8.42 0 0 1-3 3.9c-1.07.7-2.06.66-2.99-.13-.95-.77-1.78-2.14-2.53-3.84a32.19 32.19 0 0 1-1.82-6.22c-.47-2.32-.8-4.8-.96-7.33a67.42 67.42 0 0 1 .96-15.58c.49-2.5 1.11-4.57 1.9-6.4.77-1.83 1.7-3.14 2.78-3.85.7-.46 1.3-.6 1.9-.46.56.06 1.12.4 1.63.93.49.55.96 1.38 1.42 2.3.46.92.9 2.03 1.32 3.24l.33.92 1.9-7.37-.15-.52a9.46 9.46 0 0 0-.87-2.48c-.4-.8-.73-1.44-1.03-1.95-.99-1.8-2.1-2.98-3.26-3.61-1.16-.55-2.4-.35-3.7.52-.78.5-1.51 1.16-2.2 1.97-.7.9-1.35 2.1-1.98 3.57ZM1624.2 514.68l9.98-13.2 2.91 23.6 2.96-3.92-6.86-55.6-2.96 3.91 2.92 23.67-9.97 13.2-2.92-23.67-2.94 3.89 6.87 55.6 2.93-3.89-2.91-23.59Z"/>
      </g>
      <g>
        <path fill="currentColor" fill-rule="nonzero" d="m1856.72 454.72-.1-.3-.14-.56a62.4 62.4 0 0 0-2.36-8.17 65.64 65.64 0 0 0-2.68-5.9 22.28 22.28 0 0 0-2.9-4.45c-1.03-1.18-2.02-1.77-2.94-1.85-.94-.2-1.8.36-2.59 1.42-.8 1.13-1.44 3-1.93 5.74-.46 2.59-.67 4.96-.6 7.16a40.54 40.54 0 0 0 2.03 12.03 56.01 56.01 0 0 0 1.76 4.74c.31.8.63 1.6.95 2.31.33.73.64 1.52.95 2.2.29.75.6 1.55.92 2.27.33.72.63 1.59.9 2.41.26.79.55 1.54.81 2.44.27.9.46 1.86.68 2.87.16 1.1.25 2.16.32 3.29.01 1.11-.08 2.32-.3 3.5-.24 1.41-.64 2.25-1.16 2.64-.54.35-1.11.46-1.76.02a5.95 5.95 0 0 1-1.96-1.76c-.67-.8-1.27-1.84-1.84-2.92-1.76-3.36-3.25-7.78-4.51-13.27-.03-.16-.07-.44-.13-.64l-.15-.68a5.83 5.83 0 0 1-.25-1.17l-.25-1.28-2.53 5 .24.85c.25.98.47 1.98.73 2.88.22 1 .45 1.94.7 2.91a73.4 73.4 0 0 0 3.38 10.43c.42.9.9 1.8 1.39 2.75a21.39 21.39 0 0 0 3.03 4.59c1.05 1.22 2.07 1.97 3.07 2.1 1.01.13 1.91-.33 2.76-1.38.86-1.05 1.5-2.99 2-5.8.41-2.3.63-4.55.68-6.54a43.53 43.53 0 0 0-1.2-11.43c-.4-1.65-.89-3.37-1.37-4.89-.54-1.42-1.08-2.95-1.6-4.25a42.73 42.73 0 0 0-1.62-3.56c-.61-1.48-1.17-2.75-1.68-4-.48-1.22-.9-2.42-1.23-3.64-.31-1.1-.52-2.18-.57-3.39-.11-1.1-.03-2.23.2-3.49.26-1.48.62-2.48 1.08-2.88.49-.36.98-.4 1.58-.17.58.32 1.17.86 1.8 1.76.6.86 1.18 1.75 1.74 2.83a70 70 0 0 1 1.42 2.9c.43 1.02.83 1.98 1.2 2.98.33 1.03.7 2.22 1.02 3.44.31 1.3.63 2.6.93 4.15l.45 2.24 2.34-6.03-.22-.81c-.03-.16-.1-.41-.2-.7-.06-.2-.05-.28-.07-.32v.12l-.18-.66-.04-.08ZM1877.63 501.52l2.82-2.77-.03-.68c0-.46-.04-1.07-.1-1.7-.04-.6-.14-1.2-.22-1.94l-.27-1.93-.26-1.54a57.72 57.72 0 0 0-2.13-8.89 22.06 22.06 0 0 0-3.18-6.2 13.02 13.02 0 0 0-2.18-2.3 3.16 3.16 0 0 0-2.24-.55c-1.04.2-2.04.74-2.92 1.79-.9.94-1.74 2.24-2.46 3.97a42.38 42.38 0 0 0-1.9 5.82 63.63 63.63 0 0 0-1.25 6.95 86.48 86.48 0 0 0-.62 12.66c.08 4.25.44 8.23.99 12 .58 3.8 1.33 7.1 2.3 10.03.95 3.01 2.05 5.29 3.27 6.88a9.7 9.7 0 0 0 2.43 2.46c.76.45 1.5.59 2.26.46.73-.23 1.43-.7 2.2-1.36.71-.8 1.5-1.9 2.3-3.24l.77-1.2-1.59-8.65-.35.83a26.98 26.98 0 0 1-1.59 2.81 4.08 4.08 0 0 1-1.6 1.59c-.58.35-1.17.31-1.78.06a7.19 7.19 0 0 1-2.05-1.95 16.13 16.13 0 0 1-2.49-5.48c-.67-2.35-1.13-5-1.47-7.75a72.47 72.47 0 0 1-.06-16.32c.3-2.39.75-4.55 1.34-6.56.58-2 1.28-3.57 2.07-4.75.83-1.22 1.7-1.84 2.66-1.95.95-.14 1.95.43 2.97 1.77.66.86 1.19 1.84 1.66 3.01.47 1.07.87 2.35 1.21 3.71.32 1.34.58 2.89.8 4.48.24 1.59.42 3.3.57 5.07l.12 1.36ZM1889.28 529.6l10.48 7.85-1.73 24.81 3.1 2.33 4.1-58.46-3.12-2.34-1.74 24.9-10.48-7.86 1.74-24.89-3.09-2.31-4.08 58.46 3.08 2.32 1.74-24.8ZM1920.88 572.9c1.32.46 2.6.14 3.87-.97 1.27-1.1 2.41-2.85 3.44-5.33a45.59 45.59 0 0 0 2.56-9.01c.7-3.55 1.1-7.63 1.24-12.23a88.1 88.1 0 0 0-.9-16.08 55.93 55.93 0 0 0-1.56-7.37 28.97 28.97 0 0 0-2.33-6.07 12.2 12.2 0 0 0-2.06-2.89 7.62 7.62 0 0 0-2.25-1.39c-1.35-.48-2.62-.23-3.9.78a13.8 13.8 0 0 0-3.42 5.08 41.92 41.92 0 0 0-2.55 8.84 75.37 75.37 0 0 0-1.27 11.97 88.79 88.79 0 0 0 1.98 21.63 37.45 37.45 0 0 0 2.95 8.63c1.18 2.4 2.58 3.84 4.2 4.4Zm.28-8.6c-.94-.34-1.78-1.15-2.6-2.73-.81-1.5-1.5-3.29-2.1-5.66a47.33 47.33 0 0 1-1.3-7.6 65.12 65.12 0 0 1 .46-16.56c.4-2.45.92-4.59 1.58-6.42.7-1.91 1.48-3.28 2.38-4.34.9-.97 1.94-1.3 3.03-.91.97.34 1.8 1.24 2.63 2.56.8 1.32 1.48 3.1 2.06 5.3.54 2.08.98 4.56 1.26 7.33.28 2.77.34 5.8.23 8.96-.1 3.24-.36 6.16-.81 8.76a38.2 38.2 0 0 1-1.72 6.55c-.71 1.82-1.5 3.1-2.36 3.9-.9.98-1.78 1.2-2.74.85ZM1949.98 581.47c1.33.32 2.6-.16 3.86-1.41 1.26-1.25 2.37-3.14 3.38-5.74 1-2.6 1.82-5.67 2.45-9.3.66-3.63 1.01-7.75 1.11-12.37a85.18 85.18 0 0 0-1.07-15.97 52.28 52.28 0 0 0-1.65-7.17 25.96 25.96 0 0 0-2.39-5.8 10.48 10.48 0 0 0-2.1-2.64 6.66 6.66 0 0 0-2.25-1.13c-1.36-.32-2.62.07-3.88 1.24a15.93 15.93 0 0 0-3.37 5.48 45.54 45.54 0 0 0-2.46 9.13 87.81 87.81 0 0 0-.69 23.03c.4 3.79.97 7.36 1.77 10.47.8 3.28 1.8 6 3.05 8.27 1.2 2.26 2.62 3.54 4.24 3.91Zm.19-8.63c-.94-.22-1.8-.93-2.63-2.41-.83-1.4-1.53-3.11-2.16-5.4a44.78 44.78 0 0 1-1.39-7.46 64.34 64.34 0 0 1 .29-16.6c.37-2.49.86-4.7 1.5-6.6a15.66 15.66 0 0 1 2.34-4.61c.89-1.08 1.92-1.53 3.01-1.27.97.22 1.82 1.02 2.66 2.25a18.6 18.6 0 0 1 2.12 5.05 46.94 46.94 0 0 1 1.33 7.19c.31 2.73.4 5.76.33 8.92-.07 3.25-.29 6.2-.71 8.85-.43 2.57-1 4.92-1.65 6.75-.7 1.9-1.46 3.26-2.32 4.18-.89 1.08-1.76 1.39-2.72 1.16ZM1970.2 524.62l-.46 54.98c0 1.12.12 2.24.45 3.3.3 1.14.74 1.78 1.3 1.83l13.4 1.18.08-9-12.03-1.05.42-50.97-3.16-.27Z"/>
      </g>
      <g>
        <path fill="none" stroke="currentColor" stroke-width=".39" d="M499.33 175.62V160" transform="matrix(2.07642 0 0 8.1225 713.17 -1299.6)"/>
        <path fill="none" stroke="currentColor" stroke-width=".43" d="m506.66 176.65 4.35-20.65M513.32 175.99 524.33 156M519.65 177.65 540 156M525.31 181.31l41.3-25.31M531.3 184.65 593.27 156M535.3 187.97 633.24 156" transform="matrix(2.07642 0 0 6.79999 713.17 -1060.8)"/>
        <path fill="none" stroke="currentColor" stroke-width=".43" d="m536.3 191.43 163.19-35.45" transform="matrix(2.0682 0 0 6.77307 719.66 -1056.46)"/>
        <path fill="none" stroke="currentColor" stroke-width=".43" d="M792.58 156 537 195.15" transform="matrix(2.06855 0 0 6.7742 720.52 -1056.78)"/>
        <path fill="none" stroke="currentColor" stroke-width=".43" d="M792.75 188 539 198" transform="matrix(2.07115 0 0 6.78274 718.09 -1057.56)"/>
      </g>
      <g>
        <path fill="none" stroke="currentColor" stroke-width=".43" d="m506.66 176.65 4.35-20.65M513.32 175.99 524.33 156M519.65 177.65 540 156M525.31 181.31l41.3-25.31M531.3 184.65 593.27 156M535.3 187.97 633.24 156" transform="matrix(-2.07642 0 0 6.79999 2786.83 -1060.8)"/>
        <path fill="none" stroke="currentColor" stroke-width=".43" d="m536.3 191.43 163.19-35.45" transform="matrix(-2.0682 0 0 6.77307 2780.34 -1056.46)"/>
        <path fill="none" stroke="currentColor" stroke-width=".43" d="M792.58 156 537 195.15" transform="matrix(-2.06855 0 0 6.7742 2779.48 -1056.78)"/>
        <path fill="none" stroke="currentColor" stroke-width=".43" d="M792.75 188 539 198" transform="matrix(-2.07115 0 0 6.78274 2781.91 -1057.56)"/>
      </g>
      <g transform="matrix(1.38322 0 0 4.52985 1059.77 -543.58)">
        <path fill="none" d="M1020 105H510v155h510V105Zm-486.21 61.96s3.99-1.81 8.61 1.05c4.63 2.86 6 4.46 7.5 6.75 1.53 2.3 2.18 5 2.26 6 .08 1-2.35 6.12-3.75 8.26-1.4 2.15-1.32 2.17-2.25 3.28-.94 1.1 1.18 3.22 2.25 4.23 1.07 1.01 20.56 19.69 51.04 26.27 30.47 6.58 55.71 10.8 73.55 10.5 17.84-.28 20.32-2.14 22.52-2.45 2.2-.32 2.64-.63-.75-2.04-3.39-1.42-5.86-4.36-.75-5.26 5.1-.9 16.5-.08 20.26.75 3.77.84 9.35 1.67 15.02 3.78 5.66 2.11 25.96 7.25 33.77 6 7.81-1.23 20.88-4.66 24.77-6.75 3.9-2.09 9.55-3.66 13.51-2.25 3.96 1.4 7.5 4.5 7.5 4.5s-6.75-3.23-23.26 8.26c-16.51 11.5-27.32 12.27-36.78 12.76-9.46.49-17-1.42-20.26-3-3.26-1.58-13.23-4.54-18.02-4.5a14.25 14.25 0 0 0-9.76 3.75c-1.6 1.56-14.07 7.37-39.78 6-25.7-1.37-56.77-3.3-77.3-11.26-20.54-7.96-38.82-20.85-42.04-25.52-3.22-4.67-3.09-5.07-3-7.5.09-2.43 2.24-10.27-2.25-14.26-4.5-4-7.5-4.5-7.5-4.5l4.89-22.85Z"/>
        <clipPath id="b">
          <path d="M1020 105H510v155h510V105Zm-486.21 61.96s3.99-1.81 8.61 1.05c4.63 2.86 6 4.46 7.5 6.75 1.53 2.3 2.18 5 2.26 6 .08 1-2.35 6.12-3.75 8.26-1.4 2.15-1.32 2.17-2.25 3.28-.94 1.1 1.18 3.22 2.25 4.23 1.07 1.01 20.56 19.69 51.04 26.27 30.47 6.58 55.71 10.8 73.55 10.5 17.84-.28 20.32-2.14 22.52-2.45 2.2-.32 2.64-.63-.75-2.04-3.39-1.42-5.86-4.36-.75-5.26 5.1-.9 16.5-.08 20.26.75 3.77.84 9.35 1.67 15.02 3.78 5.66 2.11 25.96 7.25 33.77 6 7.81-1.23 20.88-4.66 24.77-6.75 3.9-2.09 9.55-3.66 13.51-2.25 3.96 1.4 7.5 4.5 7.5 4.5s-6.75-3.23-23.26 8.26c-16.51 11.5-27.32 12.27-36.78 12.76-9.46.49-17-1.42-20.26-3-3.26-1.58-13.23-4.54-18.02-4.5a14.25 14.25 0 0 0-9.76 3.75c-1.6 1.56-14.07 7.37-39.78 6-25.7-1.37-56.77-3.3-77.3-11.26-20.54-7.96-38.82-20.85-42.04-25.52-3.22-4.67-3.09-5.07-3-7.5.09-2.43 2.24-10.27-2.25-14.26-4.5-4-7.5-4.5-7.5-4.5l4.89-22.85Z"/>
        </clipPath>
        <g clip-path="url(#b)">
          <path fill="currentColor" fill-rule="nonzero" d="M607.58 205.7v8.91c0 2.38-.8 4.4-2.4 6.18a10.75 10.75 0 0 1-6.39 3.21h-19.45a10.75 10.75 0 0 1-6.4-3.2 8.48 8.48 0 0 1-2.53-6.19v-64.43c0-2.38.8-4.4 2.53-6.18a10.75 10.75 0 0 1 6.4-3.21h19.45c2.53.35 4.66 1.42 6.4 3.2a8.91 8.91 0 0 1 2.4 6.19v8.91h-9.33v-8.91c0-.83-.4-1.2-1.2-1.2h-15.99c-.93 0-1.33.37-1.33 1.2v64.43c0 .83.4 1.19 1.33 1.19h15.99c.8 0 1.2-.36 1.2-1.19v-8.92h9.32ZM653.41 140.79V224h-9.32v-41.6h-18.52V224h-9.33V140.8h9.33v33.28h18.52V140.8h9.32ZM688.85 140.79c2.94 0 5.47.95 7.6 2.73 2 1.9 3.06 4.16 3.06 6.78v22.58a8.68 8.68 0 0 1-3.06 6.66 11.03 11.03 0 0 1-7.6 2.85h-3.2L699.52 224h-9.99l-16.12-49.93h15.45c.94 0 1.34-.35 1.34-1.19V150.3c0-.84-.4-1.2-1.34-1.2H671.4V224h-9.33V140.8h26.78ZM736.69 140.79c2.53.35 4.66 1.42 6.39 3.2a8.48 8.48 0 0 1 2.53 6.19v64.43c0 2.38-.8 4.4-2.53 6.18a10.75 10.75 0 0 1-6.4 3.21H717.1a10.75 10.75 0 0 1-6.4-3.2 8.48 8.48 0 0 1-2.53-6.19v-64.43c0-2.38.8-4.4 2.53-6.18a10.75 10.75 0 0 1 6.4-3.21h19.59Zm-.4 9.39c0-.83-.4-1.2-1.2-1.2h-16.26c-.93 0-1.33.37-1.33 1.2v64.43c0 .83.4 1.19 1.33 1.19h16.26c.8 0 1.2-.36 1.2-1.19v-64.43ZM791.58 140.79V224h-9.6l-18.38-54.92V224h-9.33V140.8h9.33v.12l18.65 54.92v-55.04h9.33ZM800.24 140.79h9.32V224h-9.32zM855.4 205.7v8.91c0 2.38-.8 4.4-2.4 6.18a10.75 10.75 0 0 1-6.4 3.21h-19.45a10.75 10.75 0 0 1-6.4-3.2 8.48 8.48 0 0 1-2.53-6.19v-64.43c0-2.38.8-4.4 2.54-6.18a10.75 10.75 0 0 1 6.4-3.21h19.44c2.53.35 4.67 1.42 6.4 3.2a8.91 8.91 0 0 1 2.4 6.19v8.91h-9.33v-8.91c0-.83-.4-1.2-1.2-1.2h-15.99c-.93 0-1.33.37-1.33 1.2v64.43c0 .83.4 1.19 1.33 1.19h15.99c.8 0 1.2-.36 1.2-1.19v-8.92h9.33ZM897.63 215.56V224h-33.57V140.8h9.32v74.77h24.25ZM915.75 149.1v24.85h19.45v8.33h-19.45v33.4H940V224h-33.58V140.8H940v8.32h-24.25Z"/>
        </g>
      </g>
      <g transform="matrix(-1.38322 0 0 4.52985 2440.23 -543.58)">
        <path fill="none" d="M1020 105H510v155h510V105Zm-486.21 61.96s3.99-1.81 8.61 1.05c4.63 2.86 6 4.46 7.5 6.75 1.53 2.3 2.18 5 2.26 6 .08 1-2.35 6.12-3.75 8.26-1.4 2.15-1.32 2.17-2.25 3.28-.94 1.1 1.18 3.22 2.25 4.23 1.07 1.01 20.56 19.69 51.04 26.27 30.47 6.58 55.71 10.8 73.55 10.5 17.84-.28 20.32-2.14 22.52-2.45 2.2-.32 2.64-.63-.75-2.04-3.39-1.42-5.86-4.36-.75-5.26 5.1-.9 16.5-.08 20.26.75 3.77.84 9.35 1.67 15.02 3.78 5.66 2.11 25.96 7.25 33.77 6 7.81-1.23 20.88-4.66 24.77-6.75 3.9-2.09 9.55-3.66 13.51-2.25 3.96 1.4 7.5 4.5 7.5 4.5s-6.75-3.23-23.26 8.26c-16.51 11.5-27.32 12.27-36.78 12.76-9.46.49-17-1.42-20.26-3-3.26-1.58-13.23-4.54-18.02-4.5a14.25 14.25 0 0 0-9.76 3.75c-1.6 1.56-14.07 7.37-39.78 6-25.7-1.37-56.77-3.3-77.3-11.26-20.54-7.96-38.82-20.85-42.04-25.52-3.22-4.67-3.09-5.07-3-7.5.09-2.43 2.24-10.27-2.25-14.26-4.5-4-7.5-4.5-7.5-4.5l4.89-22.85Z"/>
        <clipPath id="c">
          <path d="M1020 105H510v155h510V105Zm-486.21 61.96s3.99-1.81 8.61 1.05c4.63 2.86 6 4.46 7.5 6.75 1.53 2.3 2.18 5 2.26 6 .08 1-2.35 6.12-3.75 8.26-1.4 2.15-1.32 2.17-2.25 3.28-.94 1.1 1.18 3.22 2.25 4.23 1.07 1.01 20.56 19.69 51.04 26.27 30.47 6.58 55.71 10.8 73.55 10.5 17.84-.28 20.32-2.14 22.52-2.45 2.2-.32 2.64-.63-.75-2.04-3.39-1.42-5.86-4.36-.75-5.26 5.1-.9 16.5-.08 20.26.75 3.77.84 9.35 1.67 15.02 3.78 5.66 2.11 25.96 7.25 33.77 6 7.81-1.23 20.88-4.66 24.77-6.75 3.9-2.09 9.55-3.66 13.51-2.25 3.96 1.4 7.5 4.5 7.5 4.5s-6.75-3.23-23.26 8.26c-16.51 11.5-27.32 12.27-36.78 12.76-9.46.49-17-1.42-20.26-3-3.26-1.58-13.23-4.54-18.02-4.5a14.25 14.25 0 0 0-9.76 3.75c-1.6 1.56-14.07 7.37-39.78 6-25.7-1.37-56.77-3.3-77.3-11.26-20.54-7.96-38.82-20.85-42.04-25.52-3.22-4.67-3.09-5.07-3-7.5.09-2.43 2.24-10.27-2.25-14.26-4.5-4-7.5-4.5-7.5-4.5l4.89-22.85Z"/>
        </clipPath>
        <g clip-path="url(#c)">
          <path fill="currentColor" fill-rule="nonzero" d="M912.48 140c-3 0-5.6.98-7.8 2.8a9.36 9.36 0 0 0-3.15 6.97v23.2c0 2.7 1.1 5.01 3.15 6.85a11.33 11.33 0 0 0 7.8 2.93h17.94v42.75H940V140h-27.52Zm-1.36 9.77c0-.85.4-1.22 1.36-1.22h17.94v25.65h-17.94c-.95 0-1.36-.37-1.36-1.22v-23.2ZM863.2 205.22h17.25l3.56 20.28h9.72L878.4 140h-13.14l-15.33 85.5h9.72l3.56-20.28Zm1.51-8.55 7.12-39.45 6.98 39.45h-14.1ZM817.35 158.8v-9.15c0-.86.41-1.22 1.37-1.22h14.92c.96 0 1.37.36 1.37 1.22v23.2c0 .62-.27.98-.82 1.1h-15.47c-3.15 0-5.75.98-7.8 2.81a9.36 9.36 0 0 0-3.15 6.97v32.12c0 2.44.82 4.52 2.6 6.35a11.05 11.05 0 0 0 6.57 3.3h18.48c2.6-.37 4.79-1.47 6.57-3.3a8.71 8.71 0 0 0 2.6-6.35v-9.16h-9.58v9.16c0 .85-.41 1.22-1.37 1.22h-14.92c-.96 0-1.37-.37-1.37-1.22v-32.12c0-.62.27-.98.82-1.1h15.47c3.01 0 5.61-.98 7.67-2.94a8.62 8.62 0 0 0 3.28-6.83v-23.21c0-2.44-.82-4.52-2.6-6.35a11.05 11.05 0 0 0-6.57-3.3h-18.48c-2.6.37-4.8 1.47-6.57 3.3a8.71 8.71 0 0 0-2.6 6.35v9.16h9.58ZM769.44 205.22h17.25l3.56 20.28h9.72L784.64 140h-13.15l-15.33 85.5h9.72l3.56-20.28Zm1.5-8.55 7.12-39.45 6.99 39.45h-14.1ZM723.58 140c-3 0-5.6.98-7.8 2.93a9.36 9.36 0 0 0-3.15 6.96v65.96c0 2.56 1.1 4.88 3.15 6.72a11.33 11.33 0 0 0 7.8 2.93h27.24V140h-27.24Zm-1.36 9.9c0-.86.4-1.23 1.36-1.23h17.66v68.28h-17.66c-.95 0-1.36-.37-1.36-1.1v-65.96ZM694.15 148.55v25.53h-19.98v8.55h19.98v34.32h-24.9v8.55h34.49V140h-34.5v8.55h24.91ZM622.02 140v85.5h9.85l18.9-56.43v56.43h9.57V140h-9.58v.12l-19.16 56.43V140h-9.58ZM583.69 205.22h17.25l3.56 20.28h9.71L598.88 140h-13.14l-15.33 85.5h9.72l3.56-20.28Zm1.5-8.55 7.12-39.45 6.98 39.45h-14.1Z"/>
        </g>
      </g>
    </g>
  </g>
</svg>