<script>
	import { onMount } from 'svelte';

	import {
		Engine,
		Events,
		Render,
		Runner,
		Body,
		Bodies,
		Composite,
		Composites,
		Constraint,
		Mouse,
		MouseConstraint
	} from 'matter-js';

	let div;

	const colors = {
		blue: '#007bff',
		red: '#dc3545',
		green: '#28a745',
		yellow: '#ffc107',
		outline: '#000'
	};

	onMount(() => {
    let mousePos = { x: 0, y: 0 };
    onmousemove = function(e){mousePos = { x: e.clientX, y: e.clientY }}

		// create an engine
		const engine = Engine.create();
		const world = engine.world;
    engine.gravity.y = -0.03;

		// create a renderer
		const render = Render.create({
			element: div,
			engine: engine
		});

		let group = Body.nextGroup(true);

		var ropeC = Composites.stack(600, 50, 4, 1, 10, 10, function (x, y) {
			return Bodies.fromVertices(
				x - 20,
				y,
				[
					{ x: 20, y: 0 },
					{ x: 40, y: 20 },
					{ x: 20, y: 40 },
					{ x: 0, y: 20 }
				],
				{ collisionFilter: { group: group }, chamfer: 0 }
			);
		});

		Composites.chain(ropeC, 0.5, 0, -0.5, 0, { stiffness: 1, length: 0 });

		Composite.add(world, [ropeC]);

		// add mouse control
		var mouse = Mouse.create(render.canvas),
			mouseConstraint = MouseConstraint.create(engine, {
				mouse: mouse,
				constraint: {
					stiffness: 0.2,
					render: {
						visible: false
					}
				}
			});

		Composite.add(world, mouseConstraint);

		// keep the mouse in sync with rendering
		render.mouse = mouse;

		// fit the render viewport to the scene
		Render.lookAt(render, {
			min: { x: 0, y: 0 },
			max: { x: 700, y: 600 }
		});

		// run the renderer
		Render.run(render);

		// create runner
		const runner = Runner.create();

		// run the engine
		Runner.run(runner, engine);

    let i = 0;

		Events.on(render, 'beforeRender', function () {
      // mouse
      if (i % 300 === 0) {
        //Body.setPosition(ropeC, { x: 100, y: i });
        console.log(Composite.bounds(ropeC).min);
        console.log(mousePos);
      }
      Composite.translate(ropeC, { x: mousePos, y: mousePos });
      i++;
			// get vector from mouse relative to centre of viewport
		});
	});
</script>

<div bind:this={div} />
