<script>
	const links = [
		{
			label: 'Club',
			url: '/topic/club'
		},
		{
			label: 'Sport',
			url: '/topic/sport'
		},
		{
			label: 'Student',
			url: '/topic/student'
		},
		{
			label: 'Teacher',
			url: '/topic/teacher'
		},
		{
			label: 'Event',
			url: '/topic/event'
		},
		{
			label: 'District',
			url: '/topic/district'
		},
		{
			label: 'Local',
			url: '/topic/local'
		}
	];
</script>

<nav
	class="border-b-4 border-double border-gray-600 dark:border-gray-400 flex md:gap-1 py-1 flex-wrap items-center justify-center mb-4"
>
	{#each links as { label, url }}
		<a
			sveltekit:prefetch
			class="nav-btn px-3 py-1 hover:bg-gray-100 rounded dark:hover:bg-gray-600"
			href={url}>{label}</a
		>
	{/each}
</nav>
