<script>
	import TriangleMosaic from 'triangle-mosaic';

	let svg;

	let svgCode;

	export let seed = 'seed';

	const hashCode = (s) =>
		s.split('').reduce((a, b) => {
			a = (a << 5) - a + b.charCodeAt(0);
			return a & a;
		}, 0);

	const color =
		'#' + Math.floor(Math.abs(Math.sin(hashCode(seed)) * 16777215) % 16777215).toString(16);

	const size = { height: 192, width: 320 };
	const myMosaic = new TriangleMosaic({
		...size,
		shapeFuzz: 0,
		xResolution: 7,
		yResolution: 4,
		coloring: {
			mode: 'single',
			color
		}
	});

	svgCode = myMosaic.render();

	svgCode = svgCode.replace(
		`width="${size.width}" height="${size.height}"`,
		`width="100%" height="100%" viewBox="0 0 ${size.width} ${size.height}" preserveAspectRatio="none"`
	);
</script>

{@html svgCode}

<style lang="postcss" global>
	.card-image > svg {
		@apply dark:opacity-70;
	}
</style>
