<script>
	import { fly } from 'svelte/transition';
	import { meta } from '$lib/variables.js';
	import Fuse from 'fuse.js';
	import { onMount } from 'svelte';
	import { clickOutside } from '$lib/clickOutside.js';

	export let term = '';
	let placeholder = 'Search...';
	$: inUse = term.length > 0;
	let focused = false;

	let data = [];
	let fuse;
	let results = [];

	onMount(async () => {
		data = await (await fetch(`${meta}/search.json`)).json();

		data.forEach((it) => {
      const d = new Date(it.date)
      it.searchableDate = d.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
      it.year = d.getFullYear()
		});

		fuse = new Fuse(data, {
			keys: ['title', 'searchableDate', 'year'],
			threshold: 0.5,
      useExtendedSearch: true
		});
	});

	function formatDate(date) {
		let d = new Date(date);
		return `${d.getMonth()}/${d.getDay()}/${d.getFullYear()}`;
	}

  $: if (term.length > 0) {
		results = fuse.search(term);
    console.log(term)
    console.log(results)
  }
</script>

<div
	class="transition-width w-60 relative"
	class:w-96={inUse}
	use:clickOutside
	on:click_outside={() => {
		term = '';
	}}
>
	<form class="h-full w-full overflow-hidden z-10 flex dark:text-black" on:submit|preventDefault>
		<input
			class="bg-blue-200 dark:bg-blue-700 transition py-2 px-4 placeholder-gray-600 dark:placeholder-black focus:outline-none"
			class:bg-blue-300={inUse}
			class:rounded-bl={!inUse}
			style="width: calc(100% - 2.5rem)"
			type="text"
			{placeholder}
			on:focus={() => {
				placeholder = '';
				focused = true;
			}}
			on:blur={() => {
				placeholder = 'Search again...';
				focused = false;
			}}
			bind:value={term}
			id="search-input"
		/>
		<div
			class="flex justify-center items-center bg-blue-400 dark:bg-blue-900 w-10 h-full rounded-br text-transparent emoji-cover-white dark:emoji-cover-gray"
			on:click={() => {
				document.getElementById('search-input').focus();
			}}
		>
			🔍
		</div>
	</form>
	{#if inUse}
		<div
			class="absolute dark:text-black bg-blue-200 dark:bg-blue-700 rounded-b shadow-md mt-10 top-0 z-20 md:max-h-64 max-h-48 overflow-y-auto"
			style="width: calc(100% - 2.5rem)"
			transition:fly={{ y: -100, duration: 500 }}
		>
			{#if results.length > 0}
				{#each results.map((it) => it.item).slice(0, 10) as result}
					<a class="px-4 py-2 flex flex-col" href={result.url} sveltekit:prefetch>
						<h4 style="font-weight: 600;">{result.title}</h4>
						<span class="text-sm"
							><span class="capitalize">{result.type}</span> • {formatDate(result.date)}</span
						>
					</a>
				{/each}
			{:else}
				<div class="px-4 py-2 flex">
					{#if term.length < 2}
						Keep typing...
						<svg
							class="ml-auto h-5 w-5"
							xmlns="http://www.w3.org/2000/svg"
							class:animate-spin={term.length < 2}
							fill="none"
							viewBox="0 0 24 24"
						>
							<circle
								class="opacity-25"
								cx="12"
								cy="12"
								r="10"
								stroke="currentColor"
								stroke-width="4"
							/>
							<path
								class="opacity-75"
								fill="currentColor"
								d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
							/>
						</svg>
					{:else}
						No related content found. 😿
					{/if}
				</div>
			{/if}
		</div>
	{/if}
</div>
