<script>
	import Search from '$lib/components/Search.svelte';
</script>

<div style="margin: -0.5rem -0.5rem 0rem -0.5rem;" class="utility-wrapper flex h-10 gap-2">
	<Search />

	<a sveltekit:prefetch href="/staff" class="ml-auto bg-red-200 hover:bg-red-300 dark:bg-red-600 dark:hover:bg-red-700">Staff</a>
	<!-- <a sveltekit:prefetch href="/games" class="bg-yellow-300 hover:bg-yellow-400">Games</a> -->
  <a sveltekit:prefetch href="/contact" class="bg-yellow-600 hover:bg-yellow-800 dark:bg-yellow-900 dark:hover:bg-yellow-950">Contact</a>
</div>

<style lang="postcss">
	:global(.utility-wrapper > *) {
		@apply flex h-full items-center shadow-sm;
	}

	a {
		@apply pt-4 pb-4 px-4 hover:pt-8 transition-all rounded-b overflow-hidden justify-center dark:text-black;
	}
</style>
